@import "variables";

@mixin background-properties(){
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin flex($vertical-align: stretch, $horizontal-align: flex-start){
	display: flex;
	align-items: $vertical-align;
	justify-content: $horizontal-align;
	flex-wrap: wrap;
}

@mixin button-properties($background-color: $c-orange, $color: $c-white){
	background-color: $background-color;
	color: $color;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: map-get($font-size-map,sm);
	font-family: $font-alt;
	line-height: 16px;
	padding: 15px 15px 11px;
	min-width: 165px; 
	display: inline-block;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: $transition;

	&:hover{
		background-color: $c-orange-hover;
	}

	&.noradius-left{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&.noradius-right{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.small{
		font-size: map-get($font-size-map,xs);
		padding: 10px 18px 7px;
		min-width: initial;
	}

	&.transparent-button{
		background-color: transparent;
		color: $c-orange;
		border-color: $c-orange;

		&:hover{
			background-color: $c-orange;
			color: $c-white;
		}
	}

	&.white-button{
		background-color: $c-white;
		color: $c-orange;

		&:hover{
			background-color: $c-orange;
			color: $c-white;
		}
	}

	&.hover-white:hover{
		background-color: $c-white;
		color: $c-orange;
	}

	&.hover-white-with-border:hover{
		background-color: $c-white;
		color: $c-orange;
		border-color: $c-orange;
	}
}

@mixin ul-properties(){
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin img-properties(){
	display:block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

@mixin anchor-properties(){
	text-decoration: none;
	color: inherit;
	transition: $transition;

	&:hover{
		text-decoration: none;
		color: inherit;
	}

	img{
		@include img-properties;
	}
}

@mixin hamburger(){
	width: 25px;
	height: 4px;
	transition: $transition;
}

@mixin input-field($text-color: #245f91, $field-bg-color: #fff){
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px 20px;
	outline: none;
	font-size: map-get($font-size-map, md);
	color: $text-color;
	background-color: $field-bg-color;

	&::placeholder{
		color: $text-color;
		font-size: map-get($font-size-map, sm);
		line-height: 26px;
		font-family: $font-main;
	}

	&:focus{
		border-color: $text-color; 
	}
}

@mixin gravity-form($background-color, $field-bg-color, $btn-bg-color, $btn-text-color, $h-btn-bg-color, $text-color){
	background-color: $background-color;

	.gform_title{ color: $text-color; }

	p.gform_required_legend{
		color: $text-color;

		span{color: $text-color !important;}
	}

	form{
		input:not([type="submit"]), textarea, select{
			@include input-field($text-color, $field-bg-color);
		}

		input[type="submit"]{
			background-color: $btn-bg-color;
			color: $btn-text-color;

			&:hover{
				background-color: $h-btn-bg-color;
			}
		}

		.free-trial, .select-dropdown:after{
			color: $text-color;
		}

		.free-trial{
			.gfield_radio{
				label:before{
					background-color: $field-bg-color;
				}

  				input[type=radio]:checked + label:before{
  					background-color: $text-color;
  					border: 4px solid $field-bg-color;
  				}
			}
		}
	}
}

@mixin slick-slider-properties($top: 0, $arrow-right: 0, $arrow-left: 0){
	svg{
		width: 45px;
		height: 45px;
		z-index: 1;
		cursor: pointer;
		position: absolute;
		top: $top;
		transition: $transition;

		&#arrow-right{
			right: $arrow-right;
		}

		&#arrow-left{
			left: $arrow-left;
		}

		&:hover{
			.cls-1, .cls-2{
				fill: $c-orange;
			}
		}
	}

	.slick-dots{
		@include flex($horizontal-align: center);

		li{
			display: inline;
			line-height: 0;
			margin-top: 35px;

			&:only-child{
				display: none;
			}
		}

		li+li{
			margin-left: 8px;
		}

		button{
			background-color: rgb(146, 148, 150);
			font-size: 0;
			width: 10px;
			height: 10px;
			padding: 0;
			border-radius: 50%;
			border-width: 0px;
		}

		.slick-active button{
			background-color: rgb(56, 146, 223);
		}
	}
}

@mixin card-styles(){
	text-align: center;
	position: relative;
	height: 100%;
	display: block;
	
	.icon-wrapper{
		min-height: 160px;

		img{
			margin: 0 auto;
			max-height: 130px;
		}
	}

	&.card-with-hover{
		background-color: #f9fafa;
		transition: $transition;

		h4, p{transition: $transition;}
		
		&:hover{
			background-color: #3892df;

			h4,p{
				color: #fff;
			}
		}
	}
}

$jeet-gutter:           3      !default;
$jeet-parent-first:     false  !default;
$jeet-layout-direction: "LTR"  !default;
$jeet-max-width:        141rem !default;

@mixin cf() {
	@include clearfix();
}

// Clearfix
@mixin clearfix() {
	*zoom: 1;
	&::before,
	&::after {
		content: "";
		display: table;
		table-layout: fixed;
	}
	&::after {
		clear: both;
	}
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Hardware acceleration
@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}

$breakpoints: (
	"s-mobile":		32rem,
	"m-mobile":		480px,
	"l-mobile":		600px,
	"p-tablet":		768px,
	"l-tablet":		1024px,
	"laptop":		1280px,
	"desktop":		1824px
);
//
//	Media Queries and to add more sizes include it in list
// Type, only and for is optional and defaults to min for a mobile first approach
//
// example @include media-q(laptop, max, true, all) { width: 100%; }
// output: @media only all and (max-width: 1099px) { .test { width: 100%; } }
//
// example of undefined size, only and for @include media-q(1100px) { width: 100%; }
// output: @media only screen and (min-width: 1100px) { .test { width: 100%; } }
//
@mixin media-q($width, $type: min, $only: true, $for: screen) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == min {
				$width: $width - 1px;
		}
		@if $only == true {
			$only: only;
		}
		@if $only == false {
			$only: null;
		}
		@if $breakpoints != "l-tablet" or $breakpoints != "p-tablet" {
			@media #{$only} #{$for} and (#{$type}-width: $width) {
				@content;
			}
		}
		@if $breakpoints == "l-tablet" or $breakpoints == "p-tablet" {
			@if $breakpoints == "l-tablet" {
				@media #{$only} #{$for} and (min-device-width: 768px) and (max-device-width: $width) and (orientation: landscape) {
					@content;
				}
			} @else {
				@media #{$only} #{$for} and (min-device-width: $width) and (max-device-width: 1024px) and (orientation: portrait) {
					@content;
				}
			}
		}
	}
	@else {
		@if $type == min {
				$width: $width - 1px;
		}
		@if $only == true {
			$only: only;
		}
		@if $only == false {
			$only: null;
		}
		@if $breakpoints != "l-tablet" or $breakpoints != "p-tablet" {
			@media #{$only} #{$for} and (#{$type}-width: $width) {
				@content;
			}
		}
		@if $breakpoints == "l-tablet" or $breakpoints == "p-tablet" {
			@if $breakpoints == "l-tablet" {
				@media #{$only} #{$for} and (min-device-width: 768px) and (max-device-width: $width) and (orientation: landscape) {
					@content;
				}
			} @else {
				@media #{$only} #{$for} and (min-device-width: $width) and (max-device-width: 1024px) and (orientation: portrait) {
					@content;
				}
			}
		}
	}
}

// Viewport sized typography with minimum and maximum values
//
// @param {Number}   $responsive  - Viewport-based size (vw/vh)
// @param {Number}   $min         - Minimum font size (px)
//
// @param {Number}   $max         - Maximum font size (px)(optional)
//
// @param {Number}   $fallback    - Fallback for viewport - based units (optional)
//
//
// @example to get the following result - 5vw font size (with 5rem fallback), minumum of 35px and maximum of 15rem
//
// .test {
//		@include responsive-font(5vw, 35px, 15rem, 5rem);
// }
//
// Which results as the following in CSS
// .test {
//   font-size: 5rem;
//   font-size: 5vw;
// }
//
// @media (max-width: 700px) {
//   .test {
//     font-size: 35px;
//   }
// }
//
// @media (min-width: 3000px) {
//   .test {
//     font-size: 15rem;
//   }
// }

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		font-size: $min;
	}
	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max;
		}
	}
	@if $fallback {
		font-size: $fallback;
	}
	font-size: $responsive;
}

// Linear Gradient
@mixin background-gradient($start-color, $end-color, $orientation) {
	background: $start-color;

	@if $orientation == 'vertical' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

// Center element and add a max width
@mixin center($max-width: $jeet-max-width, $pad: 0) {
	@include clearfix;
	width: auto;
	max-width: $max-width;
	float: none;
	display: block;
	margin: {
		right: auto;
		left:  auto;
	};
	padding: {
		left:  $pad;
		right: $pad;
	};
}

// Center block without max width
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Uncenter the element
@mixin uncenter() {
	max-width: none;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

// String Replace

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// String Contains
@function ends-with($string, $find) {
	@if (str-slice($string, (str-length($string) - str-length($find) + 1)) == $find) {
		@return true;
	} @else {
		@return false;
	}
}

// Font Face

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

$flexbox-grid-mixins-box-sizing: border-box !default;

@mixin grid($display: flex, $flex-direction: null, $flex-wrap: null, $flex-flow: null, $justify-content: null, $align-items: null, $align-content: null, $gutter: null, $grid-type: skeleton) {
	@if $flexbox-grid-mixins-box-sizing == 'border-box' or $flexbox-grid-mixins-box-sizing == 'content-box' {
		box-sizing: $flexbox-grid-mixins-box-sizing;
	}

	@if $display {
		display: $display;
	}

	@if $flex-direction {
		flex-direction: $flex-direction;
	}
	@if $flex-wrap {
		flex-wrap: $flex-wrap;
	}

	@if $flex-flow {
		flex-flow: $flex-flow;
	}

	@if $justify-content {
		justify-content: $justify-content;
	}
	@if $align-items {
		align-items: $align-items;
	}
	@if $align-content {
		align-content: $align-content;
	}

	@if $grid-type == skeleton {
		@if $gutter {
			@include grid-margin($margin: 0 $gutter / 2 * -1);
		}
	}

	@content;
}

@mixin grid-col($col: null, $grid-columns: 12, $col-offset: null, $gutter: null, $condensed: false, $align-self: null, $flex-grow: 0, $flex-shrink: 1, $flex-basis: auto, $order: null, $shorthand: true, $grid-type: skeleton, $last-child: false, $width: null, $max-width: null, $min-width: null, $height: null, $max-height: null, $min-height: null) {
	@if $flexbox-grid-mixins-box-sizing == 'border-box' or $flexbox-grid-mixins-box-sizing == 'content-box' {
		box-sizing: $flexbox-grid-mixins-box-sizing;
	}

	@if type-of($col) == number and unitless($col) == true {
		$flex-shrink: 0;
		$flex-basis: percentage($col / $grid-columns);

		@if $grid-type == skeleton {
			@if $gutter and unit($gutter) == '%' {
				$flex-basis: $flex-basis - $gutter;
			} @else if $gutter and unitless($gutter) == false {
				$flex-basis: calc( #{$flex-basis} - #{$gutter});
			}

		} @else if $grid-type == margin-offset {
			@if $gutter and unit($gutter) == '%' {
				$flex-basis: (100% - ($gutter * ($grid-columns / $col - 1))) / ($grid-columns / $col);
			} @else if $gutter and unitless($gutter) == false {
				$flex-basis: calc( #{$flex-basis} - #{$gutter * ($grid-columns / $col - 1) / ($grid-columns / $col)});
			}
		}

		@if $col-offset and unit($col-offset) == '%' {
			$flex-basis: $flex-basis + $col-offset;
		} @else if $col-offset and unitless($col-offset) == false {
			$flex-basis: calc( #{$flex-basis} + #{$col-offset});
		}
	} @else if type-of($col) == number and unitless($col) == false {
		$flex-grow: 0;
		$flex-shrink: 0;
		$flex-basis: $col;
	} @else if type-of($col) == string and $col == 'auto' {
		// flex: auto;
		$flex-grow: 1;
		$flex-shrink: 1;
		$flex-basis: auto;
	} @else if type-of($col) == string and $col == 'equal' {
		// flex: 1;
		$flex-grow: 1;
		$flex-shrink: 1;
		$flex-basis: 0;
	} @else if type-of($col) == string and $col == 'none' {
		// flex: none;
		$flex-grow: 0;
		$flex-shrink: 0;
		$flex-basis: auto;
	} @else if type-of($col) == string and $col == 'initial' {
		// flex: initial;
		$flex-grow: 0;
		$flex-shrink: 1;
		$flex-basis: auto;
	} @else if type-of($col) == string and $col == 'breakpoint' {
		// deprecated
		$flex-grow: 0;
		$flex-shrink: 1;
		$flex-basis: auto;
		$width: 100%;
	} @else if type-of($col) == string and $col == 'positive' {
		// positive number
		@if $flex-grow == 0 {
			$flex-grow: 1;
		}
		$flex-shrink: 0;
		$flex-basis: 0;
	}

	@if type-of($shorthand) == bool and $shorthand == true {
		flex: $flex-grow $flex-shrink $flex-basis;
	} @else {
		flex-basis: $flex-basis;
		flex-grow: $flex-grow;
		flex-shrink: $flex-shrink;
	}

	@if $align-self != null {
		align-self: $align-self;
	}

	@if type-of($order) == number {
		order: $order;
	}

	@if type-of($width) == bool and $width == true {
		width: $flex-basis;
	} @else if type-of($width) == number and unitless($width) == false {
		width: $width;
	} @else if type-of($width) == string and $width == 'auto' {
		width: auto;
	}

	@if type-of($max-width) == bool and $max-width == true and type-of($flex-basis) == number {
		max-width: $flex-basis;
	} @if type-of($max-width) == bool and $max-width == true and type-of($flex-basis) != number {
		max-width: 100%;
	} @else if type-of($max-width) == number and unitless($max-width) == false {
		max-width: $max-width;
	} @else if type-of($max-width) == string and $max-width == 'auto' {
		max-width: -webkit-fill-available;
	}

	@if type-of($min-width) == bool and $min-width == true {
		min-width: $flex-basis;
	} @else if type-of($min-width) == number and unitless($min-width) == false {
		min-width: $min-width;
	} @else if type-of($min-width) == string and $min-width == 'auto' {
		min-width: auto;
	}

	@if $height != null {
		height: $height;
	}
	@if $max-height != null {
		max-height: $max-height;
	}
	@if $min-height != null {
		min-height: $min-height;
	}

	@if $gutter and unitless($gutter) == false {
		@if $grid-type == skeleton {
			@if type-of($condensed) == bool and $condensed == true {
				@include grid-col-margin($margin: 0 $gutter / 2);
			} @else {
				@include grid-col-margin($margin: 0 $gutter / 2 $gutter);
			}
		} @else if $grid-type == margin-offset {
			@if type-of($col) == string and $col == 'breakpoint' {
				@include grid-col-margin($margin-right: 0);
			} @else if type-of($last-child) == bool and $last-child == true {
				@include grid-col-margin($margin-right: 0);
			} @else {
				@include grid-col-margin($margin-right: $gutter);
			}

			@if $condensed == false {
				@include grid-col-margin($margin-bottom: $gutter);
			}
		}
	}

	@content;
}

@mixin grid-margin($margin: null, $margin-top: null, $margin-right: null, $margin-bottom: null, $margin-left: null) {
	@if $margin != null {
		margin: $margin;
	}
	@if $margin-top != null {
		margin-top: $margin-top;
	}
	@if $margin-bottom != null {
		margin-bottom: $margin-bottom;
	}
	@if $margin-left != null {
		margin-left: $margin-left;
	}
	@if $margin-right != null {
		margin-right: $margin-right;
	}
}

@mixin grid-col-margin($margin: null, $margin-top: null, $margin-right: null, $margin-bottom: null, $margin-left: null) {
	@include grid-margin($margin, $margin-top, $margin-right, $margin-bottom, $margin-left);
}


// Select all children from the first to `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin first($num) {
	@if $num == 1 {
		&:first-child {
			@content;
		}
	} @else {
		&:nth-child(-n + #{$num}) {
			@content;
		}
	}
}

// Select all children from the last to `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin last($num) {
	&:nth-last-child(-n + #{$num}) {
		@content;
	}
}

// Select all children after the first to `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin after-first($num) {
	&:nth-child(n + #{$num + 1}) {
		@content;
	}
}

// Select all children before `$num` from the last.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin from-end($num) {
	&:nth-last-child(#{$num}) {
		@content;
	}
}

// Select all children between `$first` and `$last`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin between($first, $last) {
	&:nth-child(n + #{$first}):nth-child(-n + #{$last}) {
		@content;
	}
}

// Select all even children between `$first` and `$last`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin even-between($first, $last) {
	&:nth-child(even):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
		@content;
	}
}

// Select all odd children between `$first` and `$last`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin odd-between($first, $last) {
	&:nth-child(odd):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
		@content;
	}
}

// Select all `$num` children between `$first` and `$last`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin n-between($num, $first, $last) {
	&:nth-child(#{$num}n):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
		@content;
	}
}


// Select all children but `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin all-but($num) {
	&:not(:nth-child(#{$num})) {
		@content;
	}
}

// Select children each `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
// @alias every
@mixin each($num) {
	&:nth-child(#{$num}n) {
		@content;
	}
}

// Select children each `$num`.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin every($num) {
	&:nth-child(#{$num}n) {
		@content;
	}
}

// Select the `$num` child from the start and the `$num` child from the last.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin from-first-last($num) {
	&:nth-child(#{$num}),
	&:nth-last-child(#{$num}) {
		@content;
	}
}


// Select the item in the middle of `$num` child. Only works with odd number
// chain.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin middle($num) {
	&:nth-child(#{round($num / 2)}) {
		@content;
	}
}


// Select all children between the `$num` first and the `$num` last.
// @group with-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - id of the child
@mixin all-but-first-last($num) {
	&:nth-child(n + #{$num}):nth-last-child(n + #{$num}) {
		@content;
	}
}


// This quantity-query mixin will only select the first of `$limit` items. It will not
// work if there is not as much as item as you set in `$limit`.
// @group Quantity queries
// @param {number} $limit
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin first-of($limit) {
	&:nth-last-child(#{$limit}):first-child {
		@content;
	}
}

// This quantity-query mixin will only select the last of `$limit` items. It will not
// if there is not as much as item as you set in `$limit`.
// @group Quantity queries
// @param {number} $limit
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin last-of($limit) {
	&:nth-of-type(#{$limit}):nth-last-of-type(1) {
		@content;
	}
}

// This quantity-query mixin will select every items if there is at least `$num` items. It will not
// if there is not as much as item as you set in `$num`.
// @group Quantity queries
// @param {number} $limit
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin at-least($num) {
	$selector: &;
	$child: nth(nth($selector, -1), -1);

	&:nth-last-child(n + #{$num}),
	&:nth-last-child(n + #{$num}) ~ #{$child} {
		@content;
	}
}

// This quantity-query mixin will select every items if there is at most `$num` items. It will not
// if there is not as much as item as you set in `$num`.
// @group Quantity queries
// @param {number} $limit
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin at-most($num) {
	$selector: &;
	$child: nth(nth($selector, -1), -1);

	&:nth-last-child(-n + #{$num}):first-child,
	&:nth-last-child(-n + #{$num}):first-child ~ #{$child} {
		@content;
	}
}

// This quantity-query mixin will select every items only if there is between `$min` and `$max` items.
// @group Quantity queries
// @param {number} $limit
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin in-between($min, $max) {
	$selector: &;
	$child: nth(nth($selector, -1), -1);

	&:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child,
	&:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child ~ #{$child} {
		@content;
	}
}

// Select the first exact child
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin first-child() {
	&:first-of-type {
		@content
	}
}

// Select the last exact child
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin last-child() {
	&:last-of-type {
		@content
	}
}

// Select all even children.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin even() {
	&:nth-child(even) {
		@content;
	}
}

// Select all odd children.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin odd() {
	&:nth-child(odd) {
		@content;
	}
}

// Select only the first and last child.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin first-last() {
	&:first-child,
	&:last-child {
		@content;
	}
}

// Will only select the child if it’s unique.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @alias only
@mixin unique() {
	&:only-child {
		@content;
	}
}

// Will only select the child if it’s unique.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin only() {
	&:only-child {
		@content;
	}
}

// Will only select children if they are not unique. Meaning if there is at
// least 2 children, the style is applied.
// @group no-arguments
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin not-unique() {
	&:not(:only-child) {
		@content;
	}
}


// This mixin is used to automatically sort z-index in numerical order. But it
// can also sort them in anti-numerical order, depending the parameters you use.
// @group using functions
// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
// @param {number} $num - Number of children
// @param {string} $direction [forward] - Direction of the sort
// @param {number} $index [0] - Index of the sorting
@mixin child-index($num, $direction: 'forward', $index: 0) {
	@for $i from 1 through $num {
		@if ($direction == 'forward') {
			&:nth-child(#{$i}) {
				z-index: order-index($i, $index);
				@content;
			}
		} @else if ($direction == 'backward') {
			&:nth-last-child(#{$i}) {
				z-index: order-index($i, $index);
				@content;
			}
		}
	}
}

// Used by the child-index mixin. It will returned the proper sorted numbers
// depending on the `$index` value.
// @access private
// @param {number} $num - Number of children
// @param {number} $index - Index of the sorting
@function order-index($i, $index) {
	@return ($index + $i);
}
