@import "../mixins-master";

main.taxonomy{	
	// Section Card Layout 01 & Card Layout 02

	[class*="sec-card-layout"]{
		.wrapper{
			@include card-styles;
		}
	}

	// Section Card Layout 01

	.sec-card-layout-01{
		padding: 60px 0 30px;

		.wrapper{ padding: 40px; }
	}

	// Section Applications

	.sec-applications{
		padding: 30px 0 60px;

		.outer-wrapper{
			position: relative;
			overflow: hidden;
			width: 100%;

			&:before{
				content: "";
				display: block;
				padding-top: 100%;
			}

			.inner-wrapper{
				position: absolute;
				top: 0; left: 0;
			}

			.inner-wrapper, .inner-wrapper >*{
				height: 100%;
				width: 100%;
			} 

			.slider{
				@include flex($horizontal-align: space-between);
				flex-direction: column;
				color: $c-white;
				position: absolute;
				top: 70%;
				padding: 30px 15px;
				transition: $transition;

				p{
					color: $c-white;
					font-size: map-get($font-size-map, xs);
					line-height: map-get($line-height-map, sm);
				}

				h4{
					margin-bottom: 30px;
					color: $c-white;
					line-height: 22px;
				}

				a{
					@include button-properties($background-color: transparent);
					font-size: map-get($font-size-map, xs);
					padding: 14px 15px 10px;
					min-width: 130px;
					border-color: $c-white;

					&:hover{
						background-color: $c-white;
						color: #3892df;
					}
				}
			}

			&:hover .slider{
				background-color: rgba(56, 146, 223, 0.7);
				top: 0;
			}
		}
	}

	// Section Brochure

	.sec-brochure{
		@include background-properties;
		background-image: url(../../images/blue-bg.png);
		padding: 60px 0;

		h2, p{
			color: $c-white;
		}

		a{
			margin-top: 35px;
		}
	}

	// Section Resources

	.sec-resources{
		@include slick-slider-properties(-60px);
		padding: 60px 0;

		svg#arrow-left{
			left: initial;
			right: 60px;
		}

		.slick-list{
			margin: 0 -15px;
		}

		.resource{
			background-color: #f9fafa;
			padding: 15px;
			margin: 0 15px;

			.cat-title{
				font-size: map-get($font-size-map, xs);
				line-height: map-get($line-height-map, sm);
				margin: 15px 0 10px;
				display: inline-block;
			}

			.button{
				margin-top: 25px;
			}

		}
	}

	// Section Demo

	.sec-demo{
		background-color: $c-brand;
		padding: 60px 0;
		text-align: center;

		h2,p{
			color: $c-white;
		}

		a.button{
			margin-top: 35px;
		}
	}

	// Section Card Layout 01

	.sec-card-layout-02{
		padding: 60px 0;

		.cards-grid [class*="col-"]:nth-child(n+5){
			margin-top: 24px;
		}

		.wrapper{ padding: 25px; }
	}
}

/**
 *	Responsive Design
 */

@media (min-width: 768px){
	.sec-applications{
		.app-grid{
			> div{
				padding: 2px;
			}
		}
	}
}

@media (min-width: 1024px){
	main.taxonomy{
		.sec-card-layout-01{
			padding: 90px 0 45px;
		}

		.sec-applications{
			padding: 45px 0 90px;
		}

		.sec-resources, .sec-card-layout-02{
			padding: 90px 0;
		}
	}
}

@media (max-width: 1199px){
	main.taxonomy{
		.sec-card-layout-02{
			.cards-grid [class*="col-"]:nth-child(n+3){
				margin-top: 24px;
			}
		}

		.sec-applications .outer-wrapper .slider{
			top: 73%;
		}
	}
}

@media (max-width: 767px){
	main.taxonomy{
		.sec-applications{
			.app-grid{
				> div + div{
					margin-top: 20px;
				} 
			}
		}
	}
}

@media (max-width: 575px){
	main.taxonomy{
		.sec-resources{
			.slick-list{
				padding:0 38% 0 0;
			}
		}

		.sec-card-layout-02 .cards-grid{
			justify-content: space-between;

			[class *= "col"]{
				padding: 0;
				flex: 0 0 calc( 50% - 2.5px);

				&:nth-child(n+3){
					margin-top: 5px;
				}
			}
		}

		.sec-applications .outer-wrapper{
			max-width: 291px;
			margin: auto;
		}
	}
}

@media (max-width: 479px){
	main.taxonomy .sec-card-layout-02 .cards-grid [class*="col"]{
		flex: 0 0 100%;

		& + [class*="col"]{
			margin-top: 5px;
		}
	}
	
}