@import "../mixins-master";

/**
 * Mobile Sidebar Toggle Button
 * ---------------------------------
 */

.mobile-sidebar-button{
    margin-bottom: 20px;

    a{
    	display: flex;
    	align-items: center;

        span{
        	width: 17px;
        	height: 2px;
        	margin: 2px 0;
        	background-color: $c-text;
        	display: block;
        	transition: $transition;

        	&:nth-child(odd){
        		width: 10px;
        	}
        }

        label{
        	margin-left: 10px;
        	font-size: map-get($font-size-map, lg);
        	font-family: $font-alt;
        	font-weight: $font-weight-bold;
        	color: $c-text;
        	cursor: pointer;
        }

        &.active{
        	span{
        		&:nth-child(odd){
        			width: 17px;
        		}
        	}
        }
    }
}

/**
 * Both Desktop & Mobile Sidebar Styles
 * -----------------------------------------
 */

[class*="sidebar"]{
	aside#secondary{

		> div + div{
			margin-top: 50px;
		}

		h4.sidebar-title{
			margin-bottom: 20px;
			padding-bottom: 20px;
		}

		ul{
			li{
				img{ margin-right: 20px; }

				display: flex;
				font-size: map-get($font-size-map, sm);
				font-family: $font-alt;
				font-weight: bold;
			}
		}

		// recent-posts
		.widget_recent_entries{
			ul li+li { margin-top: 20px; }
		}

		//categories-list
		.widget_categories{
			ul li+li { margin-top: 15px; }
		}

		//newsletter signup form
		.gform_widget{
			.gform_wrapper{
				background-color: #d6e9f8;
				padding: 20px;

				input:not([type="submit"]){
					@include input-field;
					line-height: 12px !important;
				}

				input[type="submit"]{
					width: 100%;
					margin: 0;
					line-height: 16px !important; 
				}

				.gform_footer{
					padding: 0;
    				margin: 10px 0 0 0;
				}
			}
		}

	}
}

/**
 * Desktop Sidebar Styles
 * ---------------------------
 */

.desktop-sidebar{
	min-width: 344px;

	aside#secondary{
		h4.sidebar-title{
			color: $c-body-text;
			border-bottom: 1px solid #d8d8d8;
		}

		ul{
			li{
				color: $c-text;
			}
		}
	}
}

/**
 * Mobile Sidebar Styles
 * ---------------------------
 */

.mobile-sidebar{
	background-color: $c-brand;
	padding: 50px 30px;
	max-width: 320px;
	position: absolute;
	top: 233px;
	left: -425px;
	z-index: 1;
	transition: $transition;

	h4.sidebar-title{
		color: $c-white;
		border-bottom: 1px solid $c-white;
	}

	ul{
		li{
			color: $c-white;
		}
	}

	&.open{
		left: 0;
	}

	.gform_confirmation_message{
		color: $c-white;
	}

}

/**
 * Respinsive
 * ---------------
 */

@media (max-width: 991px){
	.mobile-sidebar{
		top: 242px;
 	}
}

@media (max-width: 767px){
	.mobile-sidebar{
		top: 238px;
 	}
}

@media (max-width: 575px){
	.mobile-sidebar{
		top: 246px;
 	}
}



