/*
	Colors should be prefixed with a c- to easily distinguish it's a color
 */
/*
	Define font related variables here
 */
/*
	Defining Shadows
 */
/*
	Transition to use
 */
.collection-header {
  color: #FFF;
  padding: 30px 0;
  text-align: center;
  background: #000000;
}
.collection-header .container > * {
  margin: 0;
}
.collection-header .h6 {
  font-weight: 400;
}

.bc-product-archive .sidebar {
  padding-top: 35px;
}

.search-box {
  padding-top: 35px;
}
.search-box label, .search-box input {
  width: 100%;
}

.author-container {
  margin: 0 auto;
  max-width: 1150px;
}

.author-details--header {
  position: relative;
}
@media (max-width: 767px) {
  .author-details--header {
    margin-left: -32px;
    margin-right: -32px;
    padding-bottom: 40px;
  }
}

.author-deatils--header-info {
  text-align: center;
}
@media (max-width: 767px) {
  .author-deatils--header-info {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
  }
  .author-deatils--header-info h1 {
    font-size: 2.6rem;
    line-height: 1;
  }
}

.author-deatils--header-banner {
  line-height: 0;
}
@media (max-width: 767px) {
  .author-deatils--header-banner {
    position: relative;
  }
  .author-deatils--header-banner::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.65)));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.65));
  }
}

.author-deatils--header-info-social svg {
  width: 18px;
  height: 18px;
  fill: #FEA536;
  margin-right: 10px;
  vertical-align: text-top;
}

.author-deatils--header-info-social {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0;
  color: #ffffff;
}

.author-deatils--header-banner img {
  max-width: 100%;
  width: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.author-deatils--header-info h1 {
  color: #ffffff;
  margin: 0 0 20px;
}

.author-deatils--header-info-social a {
  color: #ffffff;
}
.author-deatils--header-info-social a:hover, .author-deatils--header-info-social a:active, .author-deatils--header-info-social a:focus {
  color: #FEA536;
}

.author-details--content {
  max-width: 700px;
  margin: 0 auto 40px;
}
.author-details--content h2,
.author-details--content h3,
.author-details--content h4,
.author-details--content h5,
.author-details--content h6 {
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .author-details--content h2,
.author-details--content h3,
.author-details--content h4,
.author-details--content h5,
.author-details--content h6 {
    text-align: left !important;
  }
}

.author-details--recipes {
  padding-bottom: 160px;
}

.author-details--recipes-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.author-details--recipes-heading {
  text-align: center;
  font-size: 2.8rem;
}

.author-details--recipe-card-box {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.author-details--recipe-card {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.author-details--recipe-card:hover .author-details--recipe-card-title a, .author-details--recipe-card:focus .author-details--recipe-card-title a {
  color: #FEA536;
}

.author-details--recipe-card-image .post-thumbnail {
  display: block;
}

.author-details--recipe-card-image .post-thumbnail img {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.author-details--recipe-card-author {
  text-align: center;
}

.author-details--recipe-card-author h5 {
  font-size: 1.2rem;
  margin: 0;
  color: #999999;
}

.author-details--recipe-card-title {
  text-align: center;
  font-size: 2.2rem;
}
.author-details--recipe-card-title a {
  color: #000000;
}
.author-details--recipe-card-title a:hover, .author-details--recipe-card-title a:focus, .author-details--recipe-card-title a:active {
  color: #FEA536;
}

.author-details--recipe-card-author-info {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  text-align: center;
  line-height: 30px;
  margin: -20px auto 0;
  border: 3px solid #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.author-details--recipe-card-author-info span {
  font-size: 1rem;
  color: #FEA536;
  display: inline-block;
}

.author-details--recipe-card-tags {
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.author-details--recipe-card-tags li span {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #999999;
  letter-spacing: 0.75px;
}

.author-details--recipe-card-tags li {
  flex-basis: 50%;
  max-width: 50%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #1a1919;
  padding-bottom: 10px;
  padding-top: 10px;
}

.author-details--recipe-card-tags::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #E6E6E6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-header.recipes-header {
  text-align: center;
  background-color: #000000;
  padding: 30px;
}

.page-header.recipes-header h1 {
  font-size: 5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: #ffffff;
}

.page-header.recipes-header .recipes-header-subHeading {
  font-size: 1.6rem;
  color: #ffffff;
  display: block;
}

.recipes-search-form {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.featured__recipe--carousel {
  margin-left: -32px;
  margin-right: -32px;
}

.featured__recipe--single {
  width: 100%;
  display: -webkit-box;
  display: flex;
  position: relative;
}
.featured__recipe--single mark {
  color: inherit;
  background: none;
}
.featured__recipe--single .featured__recipe--single-text {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: flex;
  min-height: 450px;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe-container {
  width: 100%;
  padding: 100px 15%;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe-container h2 {
  color: #ffffff;
  margin: 1rem 0 0;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe-container svg {
  width: 1.8rem;
  fill: #FEA536;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe--single-meta-info {
  left: 0;
  bottom: 0;
  color: #FFF;
  width: 100%;
  position: absolute;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe--single-meta-info ul {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  padding: 40px 15%;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe--single-meta-info li {
  display: block;
  font-weight: 700;
  line-height: 2rem;
  padding-right: 15%;
  text-transform: uppercase;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe--single-meta-info li span {
  font-size: 1.4rem;
  color: #CCCCCC;
  margin-right: 1rem;
  letter-spacing: 1.6px;
  font-family: "Archivo Narrow", sans-serif;
}
.featured__recipe--single .featured__recipe--single-text .featured__recipe--single-meta-info li:last-of-type {
  padding-right: 0;
}
.featured__recipe--single .featured__recipe--single-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  position: absolute;
  background-color: #1A1A1A;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 48px;
}
.featured__recipe--single .featured__recipe--single-image::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.featured__recipe--single .featured__recipe--single-image a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.featured--tag {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 3px 18px;
  line-height: 24px;
  border-radius: 20px;
  display: inline-block;
  background: #FEA536;
  text-transform: uppercase;
}

.tax-collaborators .collaborators-carousel {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.tax-collaborators .collaborators-section-banner {
  color: #FFF;
  height: 380px;
  display: -webkit-box;
  display: flex;
  position: relative;
  text-align: center;
  padding: 70px 30px;
  margin-bottom: 56px;
  background-position: center;
  -webkit-box-align: end;
          align-items: flex-end;
  background-size: cover;
  -webkit-box-pack: center;
          justify-content: center;
}
.tax-collaborators .collaborators-section-banner * {
  margin: 0;
  z-index: 2;
  position: relative;
}
.tax-collaborators .collaborators-section-banner::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.65);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.tax-collaborators .bc-product-grid {
  margin-top: 48px;
}
.tax-collaborators .about-collaborator-section {
  margin-top: 300px;
  padding-bottom: 40px;
  background: #E6E6E6;
}
.tax-collaborators .about-img {
  top: -97px;
  width: 100%;
  display: block;
  max-width: 588px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: -97px;
}
.tax-collaborators .about-inner {
  background: #FFF;
  margin-top: -115px;
  padding-bottom: 90px;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.tax-collaborators .about-label {
  z-index: 1;
  display: block;
  padding: 0 15px;
  max-width: 112px;
  line-height: 40px;
  position: relative;
  text-align: center;
  margin: -20px auto 0;
  background: #FEA536;
}
.tax-collaborators .about-title {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 28px;
}
.tax-collaborators .more-collaborators {
  text-align: center;
  padding-top: 105px;
  padding-bottom: 105px;
}
.tax-collaborators .more-collaborators .collaborator-card {
  margin: 0 12px;
}
.tax-collaborators .collaborators-banner {
  color: #FFF;
  background-color: #1A1A1A;
}
.tax-collaborators .collaborators-banner [class^=banner-img] {
  display: -webkit-box;
  display: flex;
  min-height: 360px;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.tax-collaborators .collaborators-banner [class^=banner-img]::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.tax-collaborators .collaborators-banner [class^=banner-img] h1 {
  z-index: 2;
  position: relative;
}
.tax-collaborators .collaborators-banner .banner-img {
  height: 38vw;
  background-size: cover;
  background-position: center top;
}
.tax-collaborators .collaborators-banner .banner-text {
  position: relative;
}
.tax-collaborators .collaborators-banner .banner-text .small-contain {
  width: 100%;
  margin: 0 auto;
  max-width: 594px;
  padding: 40px 32px;
  text-align: center;
}
.tax-collaborators .collaborators-banner .banner-text .small-contain p {
  font-size: 1.8rem;
}
.tax-collaborators .collaborators-banner .banner-text .small-contain > *:first-child {
  margin-top: 0;
}
.tax-collaborators .collaborators-banner .banner-text .small-contain > *:last-child {
  margin-bottom: 0;
}
.tax-collaborators .collaborators-banner .banner-text::before {
  top: 0;
  left: 50%;
  width: 48px;
  height: 4px;
  content: " ";
  position: absolute;
  background: #FEA536;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}